<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roger.freedom.mapper.ProdBranchRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roger.freedom.entity.ProdBranchRecords">
        <id column="id" property="id" />
        <result column="merge_id" property="mergeId" />
        <result column="commitIds" property="commitIds" />
        <result column="merge_time" property="mergeTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merge_id, commitIds, merge_time, create_time
    </sql>

</mapper>
